:root {
  --base-unit: 0.5rem;
  --line-height-base-unit: 1;
  --primary-dark: #18181b;
  --secondary-dark: #27272a;
  --green: #61dca3;
  --white: #fff;
  --font-family-primary: 'JetBrains Mono', monospace;
  --breakpoint-sm: 23.4375em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 90em;
  --shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  --font-size-16: calc(--base-unit) * 2;
  --font-size-24: calc(--base-unit) * 3;
  --font-size-32: calc(--base-unit) * 4;
  --line-height-sm: calc(var(--line-height-base-unit) * 1.2);
  --line-height-lg: calc(var(--line-height-base-unit) * 1.5);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.header__logo {
  font-size: var(--font-size-16);
}

.header__logo svg {
  min-width: 1.805em;
  min-height: 3.0987em;
}

.header__nav {
  width: 100%;
}

.actions {
  display: flex;
  gap: 1em;
  padding: 0 1em;
}

.actions__item {
  list-style: none;
}

.modes,
.language {
  display: flex;
  padding: 1em;
  background-color: var(--secondary-dark);
  border-radius: 6.25em;
  gap: 1em;
}

.modes__item,
.language__item {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 6.25em;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;
}

.language__item {
  color: var(--green);
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0;
}

.modes__item > svg {
  min-width: 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.modes__item > svg path {
  fill: var(--green);
}

.active-mode,
.active-language {
  background-color: var(--green);
}

.active-language {
  color: var(--secondary-dark);
}

.active-mode > svg path {
  fill: var(--secondary-dark)
}