:root {
  --base-unit: 0.5rem;
  --line-height-base-unit: 1;
  --primary-dark: #18181b;
  --secondary-dark: #27272a;
  --green: #61dca3;
  --white: #fff;
  --font-family-primary: 'JetBrains Mono', monospace;
  --font-family-secondary: 'Inter', sans-serif;
  --shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  --font-size-16: calc(var(--base-unit) * 2);
  --font-size-24: calc(var(--base-unit) * 3);
  --font-size-32: calc(var(--base-unit) * 4);
  --line-height-sm: calc(var(--line-height-base-unit) * 1.2);
  --line-height-lg: calc(var(--line-height-base-unit) * 1.5);
}

.container {
  display: grid;
  padding: 1.5em 1em;
  min-height: 100%;
  grid-template-rows: max-content 1fr;
  gap: 5em;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header__logo {
  font-size: var(--font-size-16);
}

.header__logo svg {
  min-width: 1.805em;
  min-height: 3.0987em;
}

.header__nav {
  width: 100%;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 0;
}

.header__actions li {
  list-style: none;
}

.modes,
.language {
  display: flex;
  padding: 1em;
  background-color: var(--secondary-dark);
  border-radius: 6.25em;
  gap: 1em;
}

.modes__item,
.language__item {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 6.25em;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.modes__item:active,
.language__item:active {
  scale: 0.98;
}

.language__item {
  color: var(--green);
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0;
  font-family: var(--font-family-secondary);
}

.modes__item > svg {
  min-width: 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.modes__item > svg path {
  fill: var(--green);
}

.active-mode,
.active-language {
  background-color: var(--green);
}

.active-language {
  color: var(--secondary-dark);
}

.active-mode > svg path {
  fill: var(--secondary-dark)
}

.content {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 4em;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.input-container__text-field {
  height: 100%;
  background-color: transparent;
  border: none;
  color: var(--green);
  font-size: var(--font-size-24);
  line-height: var(--line-height-lg);
  padding: 0;
  resize: none;
}

.input-container__text-field::placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input-container__text-field:focus-visible {
  outline: none;
}

.input-container__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

.input-container__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  width: 100%;
  max-width: 20.5em;
  line-height: 4.1875em;
  height: 4.1875em;
  padding: 0 1.5em;
  border-radius: 1.5em;
  border: none;
  transition: opacity, box-shadow, ease 0.2s;
  cursor: pointer;
  font-size: var(--font-size-16);
}

@media not (hover: none) {
  .modes__item:not(.active-mode):hover,
  .language__item:not(.active-language):hover {
    transform: translateY(-4px);
  }

  .input-container__btn--encrypt:hover {
    transform: translateY(-4px);
  }

  .input-container__btn--decrypt:hover {
    transform: translateY(-4px);
  }
}

.input-container__btn:active {
  scale: 0.98;
}

.input-container__btn--encrypt {
  background-color: var(--green);
  color: var(--primary-dark);
}

.input-container__btn--decrypt {
  background-color: var(--secondary-dark);
  color: var(--white);
}

.output-container {
  padding: 2em;
  margin: 0 0.5em;
  border-radius: 2em;
  background-color: var(--secondary-dark);
}

.empty-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.empty-container__title {
  font-size: var(--font-size-24);
  text-transform: uppercase;
  color: var(--green);
  line-height: var(--line-height-sm);
}

.empty-container__para {
  font-size: var(--font-size-16);
  line-height: var(--line-height-lg);
}

@media (min-width: 48em) {
  .container {
    padding: 2.5em;
    gap: 7.25em;
  }

  .output-container {
    margin: 0;
  }
}
