:root {
  --base-unit: 0.5rem;
  --line-height-base-unit: 1;
  --primary-dark: #18181b;
  --secondary-dark: #27272a;
  --green: #61dca3;
  --white: #fff;
  --font-family-primary: 'JetBrains Mono', monospace;
  --breakpoint-sm: 23.4375em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 90em;
  --shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  --font-size-16: calc(--base-unit) * 2;
  --font-size-24: calc(--base-unit) * 3;
  --font-size-32: calc(--base-unit) * 4;
  --line-height-sm: calc(var(--line-height-base-unit) * 1.2);
  --line-height-lg: calc(var(--line-height-base-unit) * 1.5);
}

.container {
  display: flex;
  padding: 40px 16px;
}